<header id="header-menu">
    <div class="header-inner">
        <a href="/" class="title">
            <img src="/assets/images/logo.png"
                alt="Transit Talk Logo"
                class="logo">

            {{ site.title }}
        </a>

        <button id="mob-menu-toggle" class="menu-btn"
            aria-label="Toggle Mobile Menu"
            aria-expanded="false">
            <img src="/assets/images/menu.svg" alt="">
        </button>

        <ul class="nav-links">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/tool">Our Tool</a>
            </li>
            <li>
                <a href="/mission">Our Mission</a>
            </li>
            <li>
                <a href="/team">Our Team</a>
            </li>
            <li>
                <a href="/in-your-city">In Your City</a>
            </li>
        </ul>
    </div>
</header>
