<header>
    <div class="header-inner">
        <div class="title">
            <img src="/assets/images/logo.png"
                alt="Transit Talk Logo"
                class="logo">
            {{ site.title }}
        </div>

        <ul class="nav-links">
            <li>
                <a href="">Our Tool</a>
            </li>
            <li>
                <a href="">Our Mission</a>
            </li>
            <li>
                <a href="">Our Team</a>
            </li>
            <li>
                <a href="">In Your City</a>
            </li>
        </ul>
    </div>
</header>
