// [class^="bkgd"] {
//   background-size: cover;
//   background-repeat: no-repeat;
// }

.bkgd-1 {
  background: linear-gradient(292.39deg, #D1D1D1 0%, rgba(231, 231, 231, 0) 100%);
  border-top: 10px solid $yellow;
  border-bottom: 10px solid $pink;
  border-left: 20px solid $red;
  border-right: 20px solid $green;
  width: 70%;
  margin: auto;
}

.bkgd-1b {
  border-top: 10px solid $purple;
  border-bottom: 10px solid $orange;
  width: 70%;
  margin: auto;
}

.bkgd-2 {
  background: linear-gradient(57.07deg, #D1D1D1 0%, rgba(231, 231, 231, 0) 100%);
  border-top: 10px solid $green;
  border-bottom: 10px solid $brown;
  border-left: 20px solid $blue;
  border-right: 20px solid $purple;
  width: 70%;
  margin: auto;
}

.under-bottons {
  margin-top: -34px;
}
