header {
    padding: 15px;
    background-color: $grey;
    border-bottom: solid $blue 8px;

    .header-inner {
        @extend %content-width;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .title {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 2rem;

        img {
            width: 60px;
            margin-right: 20px;
        }
    }
    ul.nav-links {
        list-style: none;
        display: flex;
        margin: 0;

        li { margin: 0 10px; }
        a {
            color: $black;
            text-decoration: none;
        }
    }
}
