$header-line-size: 8px;

header {
    padding: 5px 15px 5px 15px;
    background-color: $grey;
    border-bottom: solid $blue $header-line-size;
    // Use box-shadow and margin to fake a second border
    box-shadow: 0px 0px 0px $header-line-size $purple;
    margin-bottom: $header-line-size + 30px;

    // Make title and nav links black with no underline
    a {
        color: $black;
        text-decoration: none;
    }

    .menu-btn {
        display: none;
        cursor: pointer;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        border: none;
        background-color: $white;

        &:hover, &:focus { background-color: $dark-white; }
        img { width: 100%; }
    }
    .header-inner {
        @extend %content-width;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .title {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 2rem;

        img {
            width: 60px;
            margin-right: 20px;
        }
    }
    ul.nav-links {
        list-style: none;
        display: flex;
        margin: 0;

        li { margin: 0px 10px; }
    }
}

// Mobile styling
@media (max-width: 800px) {
    header {
        position: relative;

        &:not(.-open) .nav-links { height: 0px; }
        &.-open .nav-links { height: 220px; }

        .header-inner { align-items: center; }
        .menu-btn { display: block; }
        ul.nav-links {
            position: absolute;
            flex-direction: column;
            transition: height 0.4s;
            overflow: hidden;
            width: 100%;
            // Make top value 100% (header height) + 2 lines
            top: calc(100% + #{$header-line-size * 2});
            left: 0;
            background-color: $grey;
            box-sizing: border-box;
            padding: 0px 10px;

            li { margin: 10px 0; }
            li:first-of-type { margin-top: 20px; }
            li:last-of-type { margin-bottom: 20px; }
        }
    }
}
