/**
 * External Resouves
 */
// Google Fonts - Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/**
 * Variables
 */
@import 'variables/colors';
@import 'variables/spacing';

/**
 * Placeholder Classes
 */
@import 'placeholders/content-placeholders';

/**
 * Partials
 */
@import 'partials/footer';
@import 'partials/header';


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.hero-banner {
  h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
  }
}

.page-content {
    @extend %content-width;
}
.section-1 {
  background-image: url("/assets/images/partition-left.png");
  background-size: 940px;
  background-repeat: no-repeat;
}
