/**
 * External Resources
 */
// Google Fonts - Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/**
 * Variables
 */
@import 'variables/colors';
@import 'variables/spacing';

/**
 * Placeholder Classes
 */
@import 'placeholders/content-placeholders';

/**
 * Partials
 */
@import 'partials/backgrounds';
@import 'partials/footer';
@import 'partials/header';
@import 'partials/layout';

/**
 * Pages
 */
@import 'pages/index';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

// Override focus styles to be more branded and prominent
*:focus {
  outline: none;
  box-shadow: 0 0 0 3px $orange;
}

// Make .page-content extend content-width
.page-content { @extend %content-width; }

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #464646;
  color: #FFF;
  font-size: 24px;
  border-radius: 9px;
  margin: 0 auto;

  &.-spaced-top {
    margin-top: 30px;
  }
}

.btn:hover { background-color: #888; }

.logo-large { height: 130px; }
.logo-med { height: 90px; }

.mobile-img {
  height: 260px;
  margin: 0 100px;
}

.hero-banner {
  width: 81%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 10px solid $blue;
  margin-bottom: 8px;
}

h1 {
  font-weight: normal;
  font-size: 48px;
  text-align: center;
}

h2 {
  font-weight: normal;
  font-size: 38px;
  text-align: center;
}

