/**
 * Color Variables
 */

$white:         #FFF;
$dark-white:    #BBB;
$grey:          #E6E6E6;
$black:         #000;

// Line Colors
$blue:          #1BA4E3;
$purple:        #493390;
$yellow:        #FEF035;
$orange:        #F59331;
$green:         #16A050;
$pink:          #F18DB9;
